doctype html 
html 
    head
        title SS Dance Acedemy
        block scripts 
        block style
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
        block content
        footer#footer
            | Copyright © 2023 SSDanceAcademy.com | All rights reserved
    