//- index.pug
doctype html
html
  head
    title SS Dance Acedemy 
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    section#introsection
        div.intro Welcome to SS Dance Academy
        div.quote Eat Sleep Dance Repeat
    section#missionsection
        h2 Our Mission
        div.card
            p Classic
            div.card-box
                div.card-image
                    img(src="/static/d1.jpg")
                div.card-content
                    p This is the best dance website in the universe.
        div.card
            p Break Dance 
            div.card-box
                div.card-image
                    img(src="/static/d2.jpg")
                div.card-content
                    p This is the best dance website in the universe.
        div.card
            p Hip-Hop
            div.card-box
                div.card-image
                    img(src="/static/d3.jpg")
                div.card-content
                    p This is the best dance website in the universe.
    section#sponsorssection
        h2 Our Sponsors
        div#sponsors
            img(src="/static/apple.jpg", alt="Sponsers Image", class="spImage")
            img(src="/static/redbull.jpg", alt="Sponsers Image", class="spImage")
            img(src="/static/insta.jpg", alt="Sponsers Image", class="spImage")
    
    script
      include ../static/index.js